{% extends 'articles/base.html' %}

{% block title %}{{ article.title }} // Mike Bozee{% endblock %}

{% block mikebozee %}
	<span>Mike Bozee</span>
{% endblock %}

{% block article_detail %}
	<div class="section-inner">
	    <section class="card card--full">
	    	<div class="back-home--container">
				<a class="back-home" href="{% url 'index' %}">&#8678; Home</a>
			</div>
	    	<span class="published-date">{{ article.published_date|date:"M j, Y" }}</span>
			<h1 class="card-title">{{ article.title }}</h1>
			<div class="article-image">
				{% if article.image %}
		    		<img class="card-image" src="../../media/{{ article.image }}" alt="{{article.title}}">
				{% endif %}
			</div>
			<div class="card-text">
				{{ article.text|safe }}
			</div>
	    </section>
    </div>
{% endblock %}
