{% extends 'articles/base.html' %}

{% block article_list %}
	<section class="section" id="articles">
		<div class="section-heading">
			<h2>Articles</h2>
		</div>
		<section class="cards">
			{% for article in articles %}
				<a class="card" href="{% url 'article_detail' slug=article.slug %}">
					<h3 class="card-title card-title--grow">{{ article.title }}</h3>
			        <!-- <span class="published-date">{{ article.published_date|date:"M j, Y" }}</span> -->
			    	{% if article.image %}
			    		<img class="card-image" src="../../media/{{ article.image }}" alt="{{article.title}}">
		    		{% endif %}
			    </a>
			{% endfor %}
		</section>
	</section>
{% endblock %}