{% extends 'positions/base.html' %}

{% block position_detail %}
	<section class="article-wrapper">
		<article class="article">
	        <h1 class="article-title">{{ position.title }}</h1>
	    	{% if position.image %}
	    		<div class="article-image" style="background-image: url('../../media/{{ position.image }}');"></div>
			{% endif %}
			<div class="article-text">{{ position.text|safe }}</div>
	    </article>
    </section>




<section class="cards">
	{% for reference in position.references.all %}
	    <a class="card card--small" href="{% url 'reference_detail' slug=reference.slug %}">
	        <h3 class="card-title card-title--grow">{{ reference.first_name }} {{ reference.last_name }}</h3>
	    	{% if reference.image %}
	    		<img class="card-image card-image--circle" src="../../media/{{ reference.image }}" alt="{{reference.first_name}} {{reference.last_name}} headshot">
    		{% endif %}
	    </a>
	{% endfor %}
</section>

{% endblock %}