{% extends 'recommendations/base.html' %}

{% block recommendation_detail %}
	<section class="card card--full">
        <h3 class="card-title">{{ recommendation.first_name }} {{ recommendation.last_name }}</h3>
    	{% if recommendation.image %}
    		<img class="card-image card-image--circle" src="../../media/{{ recommendation.image }}">
		{% endif %}
		{{ recommendation.notes|safe }}
		{{ recommendation.text|safe }}
		<h3>Ask me about Mike's...</h3>
		{% if recommendation.positions.count %}
			<h4>Positions:</h4>
    		{% for position in recommendation.positions.all %}
    			<a href="{% url 'position_detail' slug=position.slug %}">{{ position }}</a>
    		{% endfor %}
		{% endif %}
		{% if recommendation.projects.count %}
			<h4>Projects:</h4>
    		{% for project in recommendation.projects.all %}
    			<a href="{% url 'project_detail' slug=project.slug %}">{{ project }}</a>
    		{% endfor %}
		{% endif %}
		{% if recommendation.educations.count %}
			<h4>Educations:</h4>
    		{% for education in recommendation.educations.all %}
    			<a href="{% url 'education_detail' slug=education.slug %}">{{ education }}</a>
    		{% endfor %}
		{% endif %}
    </section>
{% endblock %}