{% extends 'stages/base.html' %}

{% block title %}{{ stage.title }} // Mike Bozee{% endblock %}

{% block mikebozee %}
	<span>Mike Bozee</span>
{% endblock %}

{% block stage_detail %}
	<div class="section-inner">
    	<section class="card card--full">
    		<div class="back-home--container">
				<a class="back-home" href="{% url 'index' %}">&#8678; Home</a>
			</div>
			<h1 class="card-title">{{ stage.title }}</h1>
			<div class="card-text">
				{{ stage.text|safe }}
			</div>
    	</section>
	</div>
{% endblock %}
