* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding-bottom: 50px;
	font-size: 18px;
	color: #333;
}

:root {
	--blue: #007bff;
}

::selection {
	background: #2ef1d9;
	color: #5e00da;
}
::-moz-selection {
	background: #2ef1d9;
	color: #5e00da;
}

#jump-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 0;
	background-color: #2ef1d9;
}

#jump-nav li {
	display: inline-block;
	padding: 15px 30px;
	color: #5e00da;
	text-transform: uppercase;
	font-size: 1.3rem;
	transition: color .4s ease-in,
				background-color .4s ease-in;
	font-weight: 300;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

#jump-nav li:hover,
#jump-nav li:focus {
	color: #2ef1d9;
	background-color: #5e00da;;
}

#intro {
	margin: 0 0 40px 0;
	text-align: center;
}

.intro-big {
	font-size: 3rem;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
}

.intro-big .emoji {
	font-size: 5rem;
	font-weight: normal;
}

.intro-small {
	font-size: 1.5rem;
	margin: 0;
	font-weight: 400;
}

.skills-summary {
	font-size: 1rem;
	margin: 50px 0 0 0;
	font-weight: 400;
	padding: 20px;
	background-color: #fff;
	line-height: 1.4;
}

.skills-summar-header {
	display: block;
	font-size: 1.4rem;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-weight: 700;
}

#job-title-rotate {
	font-weight: 400;
	color: #5e00da;
	font-size: 2rem;
	text-transform: uppercase;
	display: block;
	margin-top: 10px;
}



/*
 GLOBAL HEADER
*/

.header {
	width: 100%;
	text-align: center;
	background-color: #1d2834;
	color: #fff;
	background-image: url('../../media/header-bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
	padding: 50px 20px;
	margin-bottom: 100px;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .4);
}

.header a,
.header a:visited,
.header a:hover,
.header a:focus,
.header a:active {
	color: #fff;
	text-decoration: none;
}

.header-inner {
	margin: 0 auto;
	max-width: 1280px;
	padding-bottom: 65px;
	padding: 50px 20px;
	position: relative;
}

.header-bottom {
	display: block;
}

.header-tagline {
	display: block;
	font-size: 1.5rem;
	margin: 5px 0 10px 0;
}

.header-contact {
	display: block;
	font-size: 1.2rem;
	margin-top: 5px;
}

.header-contact + .header-contact {
	margin-top: 3px;
}

.home-link {
	text-decoration: none;
	display: inline-block;
	
}

.home-link h1 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 3rem;
	line-height: 1;
	margin: 0;
	/*color: #333;*/
	color: #fff;
}

#headshot {
	box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15),
				0 1.5px 3px 0 rgba(0,0,0,.15);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	border-radius: 50%;
}

#headshot img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	
}

.social-icon {
	text-decoration: none;
}

/*
 GLOBAL LAYOUT
*/

#main {
	margin: 0 auto;
	max-width: 1280px;
}

#sections {
	width: 100%;
	max-width: 730px;
	margin: 0 0 0 auto;
}

#sections.sections--full {
	max-width: 100%;
} 

.section {
	display: block;
	margin-top: 2rem;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.section:first-of-type {
	margin-top: 0;
}

.section-heading {
	color: #202124;
	font-size: 44px;
	font-weight: 400;
	line-height: 1.2;
	margin: 100px 0 15px 0;
	padding: 0 20px;
	letter-spacing: -.5px;
}

.section:first-of-type .section-heading {
	margin-top: 50px;
}

.section-subheading {
	padding: 20px;
	margin: 2rem 0 1rem 0;
	font-size: 2rem;
	text-transform: uppercase;;
	font-weight: 500;
}


/*
 CARDS
*/

.cards {
	display: block;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.cards.cards--minor {
	margin-top: 40px;
}

.references-cards {
	overflow: hidden;
}

.card {
	text-decoration: none;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #fff;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

.sections--full .card:not(.card--full):not(.card--medium):not(.card--small) {
	width: -webkit-calc((100% / 3) - 50px);
	width: -moz-calc((100% / 3) - 50px);
	width: -ms-calc((100% / 3) - 50px);
	width: -o-calc((100% / 3) - 50px);
	width: calc((100% / 3) - 50px);
	margin: 0 25px;
	border-top: 1px solid #d7d7d7;
	padding: 30px 0;
}

.card--full {
	width: 100%;
	display: block;
}

.card--medium {
	width: -webkit-calc((100% / 3) - 10px);
	width: -moz-calc((100% / 3) - 10px);
	width: -ms-calc((100% / 3) - 10px);
	width: -o-calc((100% / 3) - 10px);
	width: calc((100% / 3) - 10px);
	margin-left: 5px;
	margin-right: 5px;
}

.card--small {
	width: -webkit-calc(25% - 10px);
	width: -moz-calc(25% - 10px);
	width: -ms-calc(25% - 10px);
	width: -o-calc(25% - 10px);
	width: calc(25% - 10px);
	margin-left: 5px;
	margin-right: 5px;
}

.sections--full .card--small {
	width: calc((100% / 6) - 50px);
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.card-small:first-of-type {
	margin-left: 0;
}

.card--no-padding {
	padding: 0;
	margin: 25px;
	width: -webkit-calc((100% / 3) - 50px );
	width: -moz-calc((100% / 3) - 50px );
	width: -ms-calc((100% / 3) - 50px );
	width: -o-calc((100% / 3) - 50px );
	width: calc((100% / 3) - 50px );
	background: none;
	box-shadow: none;
	border: none;
}

.card--no-padding.card--minor {
	width: 50%;
	border-top: 1px solid #d7d7d7;
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
	width: -webkit-calc((100% / 2) - 50px );
	width: -moz-calc((100% / 2) - 50px );
	width: -ms-calc((100% / 2) - 50px );
	width: -o-calc((100% / 2) - 50px );
	width: calc((100% / 2) - 50px );
	margin-top: 0;
	margin-bottom: 0;
}

article.card {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

.card-left {
	display: block;
	padding-right: 90px;
	position: relative;
}

.published-date {
	display: block;
	color: #4C6085;

	display: none;
}

.card-title {
	line-height: 1.25;
	color: #007bff;
	margin: 0;
	display: block;
	font-size: 1.25rem;
	display: inline-block;
	vertical-align: top;
 	font-weight: 400;
 	transition: color .4s ease-in;
}

h1.card-title {
	font-size: 3rem;
	font-weight: 300;
}

.card--no-padding .card-title {
	line-height: 1.4;
	font-weight: 500;
	display: block;
	margin-top: 40px;
	color: #414141;
	font-size: 22px;
	margin: 0 0 12px 0;
}

.card--no-padding.card--minor .card-title {
	color: #414141;
	line-height: 1.25;
	font-size: 32px;
	align-self: flex-start;
	flex-grow: 0;
	vertical-align: top;
	display: inline-block;
	font-weight: 400;
	padding-right: 50px;
}

.card-title--grow {
	flex-grow: 1;
}

.first-name {
	display: block;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 1;
}

.last-name {
	display: block;
	font-weight: 300;
	line-height: 1;
	font-size: 1rem;
	opacity: .8;
}

.position-company {
	font-size: 1rem;
	line-height: 1.25;
	color: #333;
	font-weight: 400;
	display: block;
	margin-top: .9rem;
}

.card-dates {
	font-size: 1rem;
	line-height: 1.25;
	color: #111;
	font-weight: 400;
	display: block;
	margin-top: .9rem;
}

.card-text * {
	font-size: 1.5rem;
	line-height: 1.7;
}

.card-text strong {
	text-transform: uppercase;
	font-size: 1.3rem;
}

.card-text a {
	font-weight: 700;
	color: #39A0ED;
	text-decoration: underline;
	transition: color .3s ease-out,
				background-color .3s ease-out;
}

.card-text a:visited {
	color: #39A0ED;
}

.card-text a:hover,
.card-text a:focus,
.card-text a:active {
	color: #fff;
	background-color: #39A0ED;
}

.card-text p,
.card-text li {
	color: #202124;
}

.card-text > p > img {
	max-width: 100%;
	height: auto;
}

.card-text > h1,
.card-text > h2,
.card-text > h3 {
	font-size: 1.8rem;
	line-height: 1.3;
	font-weight: 700;
	margin: 3rem 0 1rem 0;
	color: #5e00da;
}

.card-text > h2 {
	font-size: 3rem;
}

.card-image {
	width: 100%;
	margin-top: 1.5rem;
}

.card--no-padding .card-image {
	margin-top: 0;
}

.card--no-padding.card--minor .card-image {
	width: 190px;
	align-self: flex-end;
	vertical-align: top;
	display: inline-block;
	flex-grow: 0;
}

.card-image--circle {
	border-radius: 50%;
}

.sections--full .card--small .card-image--circle {
	border-radius: 15px;
	box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}

.card--full .card-image {
	max-width: 300px;
}

.card-logo {
	width: 60px;
	position: absolute;
	top: 50%;
	right: 0;
	border-radius: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.view-all {
	background-color: #2ef1d9;
	color: #5e00da;
	display: block;
	text-decoration: none;
	transition: color .4s ease-in, background-color .4s ease-in;
	font-size: 1.2rem;
	line-height: 1;
	padding: 15px 20px;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
}

.view-all:visited {
	color: #5e00da;
}

.view-all:hover,
.view-all:focus {
	color: #2ef1d9;
	background-color: #5e00da;
}

.related-pills {
	font-size: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
}

.related-pill {
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #5e00da;
	color: #5e00da;
	padding: 7px;
	font-size: 1rem;
	font-weight: 600;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
	align-self: stretch;
	flex-grow: 0;
}

.related-pill:visited,
.related-pill:active {
	color: #5e00da;
}

.filter-btn-grp {
	margin: 20px 0;
	font-size: 0;
	padding: 0 20px;
}

.filter-btn {

    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    outline: 0;
    border-radius: 4px;
    border: none;
    background-color: #5e00da;
    color: #fff;
    transition: background-color .4s ease-in;
    font-weight: 400;
    line-height: 1;
    font-size: 1rem;	
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter-btn + .filter-btn {
	margin-left: 5px;
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: #8f47ef;
}

.dots {
	width: 100%;
	font-size: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	margin-top: 20px;
	display: none;
}

.dot {
	align-self: stretch;
	flex-grow: 0;
	display: inline-block;
	vertical-align: top;
	width: calc((100% / 6) - 4px);
	height: auto;
	padding-top: calc((100% / 6) - 4px);
	border-radius: 50%;
	background-color: #5e00da;
	margin: 2px;
	display: none;
}

button .dot {
	margin: 0;
	width: 15px;
	height: 15px;
	padding-top: 0;
}

.dot-direct-supervisor {
	background-color: red;
}

.dot-instructor {
	background-color: orange;
}

.dot-coworker {
	background-color: blue;
}

.dot-mentor {
	background-color: green;
}

.dot-client {
	background-color: gold;
}

.dot-vendor {
	background-color: pink;
}

.relationships-tags-container {
	display: block;
	margin-top: 30px;
}

.relationships-tag {
	display: inline-block;
	margin-right: 30px;
	padding: 10px 20px;
	border: 1px solid #333;
	border-radius: 3px;
}

.reference-image {
	max-width: 200px;
}

.article-image {
	display: block;
}

.card--full .article-image .card-image {
	max-width: 600px;
}

.reference-link {
	margin-top: 20px;
	display: inline-block;
}

.ask-about {
	color: #5e00da;
}

@media (max-width: 1200px) {
	.sections--full .card--small {
		width: calc(20% - 4px);
	}
	.card--no-padding.card--minor {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.cards {
		padding: 0 15px;
	}
	.card,
	.sections--full .card:not(.card--full):not(.card--medium):not(.card--small) {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.section-heading {
		font-size: 2rem;
	}
	.sections--full .card--small {
		width: calc((100% / 3) - 4px);
	}
	.intro-big {
		font-size: 2rem;
	}
	.intro-big .emoji {
		font-size: 3rem;
	}
	.intro-small {
		font-size: 1rem;
	}
	#job-title-rotate {
		font-size: 1.5rem;
	}
}

@media (max-width: 600px) {
	.card--no-padding.card--minor .card-title {
		font-size: 24px;
		padding-right: 30px;
	}
}

@media (max-width: 500px) {
	.sections--full .card--small {
		width: calc(50% - 4px);
	}
	body {
		padding-left: 10px;
		padding-right: 10px;
	}
	.intro-big .emoji {
		display: block;
	}
	.card--no-padding.card--minor {
		flex-direction: column;
	}
	.card--no-padding.card--minor .card-title {
		padding-right: 0;
	}
	.card--no-padding.card--minor .card-image {
		align-self: flex-start;
	}
}
