* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ededed;
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 20px 20px 40px 20px;
	font-size: 18px;
	cursor: url('../../media/cursor-arrow-orange.svg') 1 1, default;
}

::selection {
	background: #2ef1d9;
	color: #5e00da;
}
::-moz-selection {
	background: #2ef1d9;
	color: #5e00da;
}

a:hover,
a:focus,
a:active {
	cursor: url('../../media/cursor-hand-orange.svg') 1 1, pointer;
}

/*https://colordrop.io/color.php?id=17797*/

#jump-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 0;
	background-color: #2ef1d9;
}

#jump-nav li {
	display: inline-block;
	padding: 15px 30px;
	color: #5e00da;
	cursor: url('../../media/cursor-hand-orange.svg') 1 1, pointer;
	text-transform: uppercase;
	font-size: 1.3rem;
	transition: color .4s ease-in,
				background-color .4s ease-in;
	font-weight: 300;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}

#jump-nav li:hover,
#jump-nav li:focus {
	color: #2ef1d9;
	background-color: #5e00da;;
}

#intro {
	margin: 40px 0;
	text-align: center;
}

.intro-big {
	font-size: 3rem;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
}

.intro-big .emoji {
	font-size: 5rem;
	font-weight: normal;
}

.intro-small {
	font-size: 1.5rem;
	margin: 0;
	font-weight: 400;
	/*text-transform: uppercase;*/
}

#job-title-rotate {
	font-weight: 400;
	color: #5e00da;
	font-size: 2rem;
	text-transform: uppercase;
	display: block;
}



/*
 GLOBAL HEADER
*/

.header {
	margin: 0 auto;
	max-width: 1100px;
	padding: 15px;
	height: 184px;
}

.logo-link {
	font-size: 3rem;
	font-weight: 700;
	text-decoration: none;
	/*color: #36F1CD;*/
	color: #13C4A3;
	text-transform: uppercase;
	font-weight: 900;
	color: #5e00da;
}

#headshot {
	border-radius: 50%;
	overflow: hidden;
	width: 150px;
	height: 150px;	
}

/*
 GLOBAL LAYOUT
*/

#main {
	margin: 0 auto;
	max-width: 1200px;
}

.section {
	display: block;
	background-color: #fff;
	margin-top: 2rem;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.section-heading {
	text-decoration: none;
	display: block;
	padding: 40px 20px;
	transition: background-color .4s ease-in;
	background-color: #5e00da;
}

.section-heading:hover,
.section-heading:focus {
	background-color: #2ef1d9;
}

.section-heading h2 {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	transition: color .4s ease-in;
	color: #2ef1d9;
	line-height: 1;
}

.section-heading:hover h2,
.section-heading:focus h2 {
	color: #5e00da;
}

.section-subheading {
	padding: 20px;
	margin: 2rem 0 1rem 0;
	font-size: 2rem;
	text-transform: uppercase;;
	font-weight: 500;
}


/*
 CARDS
*/

.cards {
	display: block;

	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.card {
	text-decoration: none;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    align-self: stretch;
    flex-grow: 0;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

a.card {
	transition: background-color .4s ease-in;
}

.card--full {
	width: 100%;
}

.card--small {
	width: 20%;
}

a.card:hover,
a.card:focus {
	background-color: #2ef1d9;
}

article.card {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

.card-left {
	display: block;
	padding-right: 110px;
	position: relative;
}

.published-date {
	display: block;
	color: #4C6085;

	display: none;
}

.card-title {
	text-transform: uppercase;
	line-height: 1.25;
	color: #39A0ED;
	margin: 0;
	display: block;
	font-size: 2.5rem;
	display: inline-block;
	vertical-align: top;
 	font-weight: 200;
 	transition: color .4s ease-in;
}

.card-title--grow {
	flex-grow: 1;
}

a.card:hover .card-title,
a.card:focus .card-title {
	color: #5e00da;
}

.position-company {
	font-size: 1.5rem;
	line-height: 1.25;
	color: #13C4A3;
	font-weight: 400;
	display: block;
}

.card-dates {
	font-size: 1rem;
	line-height: 1.25;
	color: #202124;
	font-weight: 400;
	display: block;
}

.card-text * {
	font-size: 1.5rem;
	line-height: 1.7;
}

.card-text strong {
	color: #5e00da;
	text-transform: uppercase;
	font-size: 1.4rem;
}

.card-text a {
	font-weight: 700;
	color: #39A0ED;
	text-decoration: underline;
	transition: color .3s ease-out,
				background-color .3s ease-out;
}

.card-text a:visited {
	color: #39A0ED;
}

.card-text a:hover,
.card-text a:focus,
.card-text a:active {
	color: #fff;
	background-color: #39A0ED;
}

.card-text p,
.card-text li {
	color: #202124;
}

.card-text > p > img {
	max-width: 100%;
}

.card-text > h1,
.card-text > h2,
.card-text > h3 {
	font-size: 1.8rem;
	line-height: 1.3;
	font-weight: 700;
	color: #13C4A3;
	margin: 3rem 0 1rem 0;
	color: #d77700;
}

.card-text > h2 {
	font-size: 3rem;
}

.card-image {
	width: 100%;
	margin-top: 1.5rem;
}

.card-image--circle {
	border-radius: 50%;
}

.card--full .card-image {
	max-width: 300px;
}

.card-logo {
	width: 70px;
	position: absolute;
	top: 0;
	right: 20px;
}

.view-more {
	background-color: #2ef1d9;
	color: #5e00da;
	display: block;
	text-decoration: none;
	transition: color .4s ease-in, background-color .4s ease-in;
	font-size: 1.2rem;
	line-height: 1;
	padding: 15px 20px;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
}

.view-more:visited {
	color: #5e00da;
}

.view-more:hover,
.view-more:focus {
	color: #2ef1d9;
	background-color: #5e00da;
}

@media (max-width: 800px) {
	.cards {
		padding: 0 15px;
	}
	.card {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
