* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #efeff1;
	/*font-family: 'Oswald', Helvetica, Arial, sans-serif;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	/*padding: 40px 20px;*/
	font-size: 18px;
	color: #333;
}

:root {
	--blue: #007bff;
}

::selection {
	background: #2ef1d9;
	color: #5e00da;
}
::-moz-selection {
	background: #2ef1d9;
	color: #5e00da;
}

/*https://colordrop.io/color.php?id=17797*/

#jump-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 0;
	background-color: #2ef1d9;
}

#jump-nav li {
	display: inline-block;
	padding: 15px 30px;
	color: #5e00da;
	text-transform: uppercase;
	font-size: 1.3rem;
	transition: color .4s ease-in,
				background-color .4s ease-in;
	font-weight: 300;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

#jump-nav li:hover,
#jump-nav li:focus {
	color: #2ef1d9;
	background-color: #5e00da;;
}

#intro {
	margin: 100px 0 40px 0;
	text-align: center;
}

.intro-big {
	font-size: 3rem;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
}

.intro-big .emoji {
	font-size: 5rem;
	font-weight: normal;
}

.intro-small {
	font-size: 1.5rem;
	margin: 0;
	font-weight: 400;
	/*text-transform: uppercase;*/
}

#job-title-rotate {
	font-weight: 400;
	color: #5e00da;
	font-size: 2rem;
	text-transform: uppercase;
	display: block;
}



/*
 GLOBAL HEADER
*/

.header {
	width: 100%;
	text-align: center;
	background-color: #1d2834;
	color: #fff;
	background-image: url('../../media/header-bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
	padding: 50px 20px;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .4);
}

.header-inner {
	margin: 0 auto;
	max-width: 1110px;
	padding-bottom: 65px;
	padding: 50px 20px;
	position: relative;
}

.header-bottom {
	display: block;
}

.header-tagline {
	display: block;
	font-size: 1.5rem;
}

.home-link {
	text-decoration: none;
	display: inline-block;
	
}

.home-link h1 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 3rem;
	line-height: 1;
	margin: 0;
	/*color: #333;*/
	color: #fff;
}

#headshot {
	box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15),
				0 1.5px 3px 0 rgba(0,0,0,.15);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	border-radius: 50%;
}

#headshot img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	
}

.social-icon {
	text-decoration: none;
}

/*
 GLOBAL LAYOUT
*/

#main {
	margin: 0 auto;
	max-width: 1110px;
}

#sections {
	width: 100%;
	max-width: 730px;
	margin: 0 0 0 auto;
}

#sections.sections--full {
	max-width: 100%;
} 

.section {
	display: block;
	margin-top: 2rem;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.section-heading {
	text-decoration: none;
	display: block;
	padding: 40px 20px;
	transition: background-color .4s ease-in;
	background-color: #5e00da;
}

.section-heading:hover,
.section-heading:focus {
	background-color: #2ef1d9;
}

.section-heading h2 {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	transition: color .4s ease-in;
	color: #2ef1d9;
	line-height: 1;
}

.section-heading:hover h2,
.section-heading:focus h2 {
	color: #5e00da;
}

.section-subheading {
	padding: 20px;
	margin: 2rem 0 1rem 0;
	font-size: 2rem;
	text-transform: uppercase;;
	font-weight: 500;
}


/*
 CARDS
*/

.cards {
	display: block;

	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.references-cards {
	overflow: hidden;
}

.card {
	text-decoration: none;
    /*display: inline-block;
    vertical-align: top;
    width: 50%;
    align-self: stretch;
    flex-grow: 0;*/
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #fff;

	border-bottom: 1px solid #DDDDDD;
	width: 100%;
	margin-bottom: 10px;
}

a.card {
	transition: box-shadow 250ms ease;
}

.sections--full .card:not(.card--full):not(.card--small) {
	width: calc(50% - 10px);
	margin-left: 5px;
	margin-right: 5px;
}

.card--full {
	width: 100%;
	display: block;
}

.card--small {
	width: calc(25% - 10px);
	margin-left: 5px;
	margin-right: 5px;
}

.sections--full .card--small {
	width: calc((100% / 8) - 4px);
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}

.card-small:first-of-type {
	margin-left: 0;
}

a.card:hover,
a.card:focus {
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

article.card {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

.card-left {
	display: block;
	padding-right: 110px;
	position: relative;
}

.published-date {
	display: block;
	color: #4C6085;

	display: none;
}

.card-title {
	line-height: 1.25;
	color: #007bff;
	margin: 0;
	display: block;
	font-size: 1.25rem;
	display: inline-block;
	vertical-align: top;
 	font-weight: 400;
 	transition: color .4s ease-in;
}

.card-title--grow {
	flex-grow: 1;
}

/*a.card:hover .card-title,
a.card:focus .card-title {
	color: #5e00da;
}*/

.position-company {
	font-size: 1rem;
	line-height: 1.25;
	color: #333;
	font-weight: 400;
	display: block;
	margin-top: .9rem;
}

.card-dates {
	font-size: 1rem;
	line-height: 1.25;
	color: #111;
	font-weight: 400;
	display: block;
	margin-top: .9rem;
}

.card-text * {
	font-size: 1.5rem;
	line-height: 1.7;
}

.card-text strong {
	color: #5e00da;
	text-transform: uppercase;
	font-size: 1.4rem;
}

.card-text a {
	font-weight: 700;
	color: #39A0ED;
	text-decoration: underline;
	transition: color .3s ease-out,
				background-color .3s ease-out;
}

.card-text a:visited {
	color: #39A0ED;
}

.card-text a:hover,
.card-text a:focus,
.card-text a:active {
	color: #fff;
	background-color: #39A0ED;
}

.card-text p,
.card-text li {
	color: #202124;
}

.card-text > p > img {
	max-width: 100%;
	height: auto;
}

.card-text > h1,
.card-text > h2,
.card-text > h3 {
	font-size: 1.8rem;
	line-height: 1.3;
	font-weight: 700;
	margin: 3rem 0 1rem 0;
	color: #5e00da;
}

.card-text > h2 {
	font-size: 3rem;
}

.card-image {
	width: 100%;
	margin-top: 1.5rem;
}

.card-image--circle {
	border-radius: 50%;
}

.card--full .card-image {
	max-width: 300px;
}

.card-logo {
	width: 70px;
	position: absolute;
	top: 50%;
	right: 0;
	border-radius: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.view-all {
	background-color: #2ef1d9;
	color: #5e00da;
	display: block;
	text-decoration: none;
	transition: color .4s ease-in, background-color .4s ease-in;
	font-size: 1.2rem;
	line-height: 1;
	padding: 15px 20px;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
}

.view-all:visited {
	color: #5e00da;
}

.view-all:hover,
.view-all:focus {
	color: #2ef1d9;
	background-color: #5e00da;
}

.related-pills {
	font-size: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
}

.related-pill {
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #5e00da;
	color: #5e00da;
	padding: 7px;
	font-size: 1rem;
	font-weight: 600;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
	align-self: stretch;
	flex-grow: 0;
}

.related-pill:visited,
.related-pill:active {
	color: #5e00da;
}

.filter-btn-grp {
	margin: 20px 0;
	font-size: 0;
}

.filter-btn {

    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    outline: 0;
    border-radius: 4px;
    border: none;
    background-color: #5e00da;
    color: #fff;
    transition: background-color .4s ease-in;
    font-weight: 400;
    line-height: 1;
    font-size: 1rem;	
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter-btn + .filter-btn {
	margin-left: 5px;
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: #8f47ef;
}

.dots {
	width: 100%;
	font-size: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	margin-top: 20px;
	display: none;
}

.dot {
	align-self: stretch;
	flex-grow: 0;
	display: inline-block;
	vertical-align: top;
	width: calc((100% / 6) - 4px);
	height: auto;
	padding-top: calc((100% / 6) - 4px);
	border-radius: 50%;
	background-color: #5e00da;
	margin: 2px;
	display: none;
}

button .dot {
	margin: 0;
	width: 15px;
	height: 15px;
	padding-top: 0;
}

.dot-direct-supervisor {
	background-color: red;
}

.dot-instructor {
	background-color: orange;
}

.dot-coworker {
	background-color: blue;
}

.dot-mentor {
	background-color: green;
}

.dot-client {
	background-color: gold;
}

.dot-vendor {
	background-color: pink;
}

@media (max-width: 800px) {
	.cards {
		padding: 0 15px;
	}
	.card {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
