{% extends 'educations/base.html' %}

{% block title %}{{ education.title }} // Mike Bozee{% endblock %}

{% block mikebozee %}
	<span>Mike Bozee</span>
{% endblock %}

{% block education_detail %}
	<div class="section-inner">
		<section class="card card--full">
			<div class="back-home--container">
				<a class="back-home" href="{% url 'index' %}">&#8678; Home</a>
			</div>
			<h1 class="card-title">{{ education.title }}</h1>
	    	{% if education.image %}
	    		<img class="card-image" src="../../media/{{ education.image }}">
			{% endif %}
			<div class="card-text">
				{{ education.text|safe }}
			</div>
    	</section>
    </div>
{% endblock %}
