{% extends 'references/base.html' %}

{% block reference_list %}
	<section class="section" id="references">
		<div class="section-heading">
			<h2>References</h2>
		</div>
		<h3 class="section-subheading">Direct supervisors</h3>
		<section class="cards">
			{% for reference in references %}
				{% if 'Direct supervisor' in reference.get_relationship_display %}
				    <a class="card card--small" href="{% url 'reference_detail' slug=reference.slug %}">
				        <h3 class="card-title card-title--grow">{{ reference.first_name }} {{ reference.last_name }}</h3>
				    	{% if reference.image %}
				    		<img class="card-image card-image--circle" src="../../media/{{ reference.image }}" alt="{{reference.first_name}} {{reference.last_name}} headshot">
			    		{% endif %}
				    </a>
			    {% endif %}
			{% endfor %}
		</section>
		<h3 class="section-subheading">Instructors</h3>
		<section class="cards">
			{% for reference in references %}
				{% if 'Instructor' in reference.get_relationship_display %}
				    <a class="card card--small" href="{% url 'reference_detail' slug=reference.slug %}">
				        <h3 class="card-title card-title--grow">{{ reference.first_name }} {{ reference.last_name }}</h3>
				    	{% if reference.image %}
				    		<img class="card-image card-image--circle" src="../../media/{{ reference.image }}" alt="{{reference.first_name}} {{reference.last_name}} headshot">
			    		{% endif %}
				    </a>
			    {% endif %}
			{% endfor %}
		</section>
		<h3 class="section-subheading">Coworkers</h3>
		<section class="cards">
			{% for reference in references %}
				{% if 'Coworker' in reference.get_relationship_display %}
				    <a class="card card--small" href="{% url 'reference_detail' slug=reference.slug %}">
				        <h3 class="card-title card-title--grow">{{ reference.first_name }} {{ reference.last_name }}</h3>
				    	{% if reference.image %}
				    		<img class="card-image card-image--circle" src="../../media/{{ reference.image }}" alt="{{reference.first_name}} {{reference.last_name}} headshot">
			    		{% endif %}
				    </a>
			    {% endif %}
			{% endfor %}
		</section>
		<h3 class="section-subheading">Mentors</h3>
		<section class="cards">
			{% for reference in references %}
				{% if 'Mentor' in reference.get_relationship_display %}
				    <a class="card card--small" href="{% url 'reference_detail' slug=reference.slug %}">
				        <h3 class="card-title card-title--grow">{{ reference.first_name }} {{ reference.last_name }}</h3>
				    	{% if reference.image %}
				    		<img class="card-image card-image--circle" src="../../media/{{ reference.image }}" alt="{{reference.first_name}} {{reference.last_name}} headshot">
			    		{% endif %}
				    </a>
			    {% endif %}
			{% endfor %}
		</section>
		<h3 class="section-subheading">Clients</h3>
		<section class="cards">
			{% for reference in references %}
				{% if 'Client' in reference.get_relationship_display %}
				    <a class="card card--small" href="{% url 'reference_detail' slug=reference.slug %}">
				        <h3 class="card-title card-title--grow">{{ reference.first_name }} {{ reference.last_name }}</h3>
				    	{% if reference.image %}
				    		<img class="card-image card-image--circle" src="../../media/{{ reference.image }}" alt="{{reference.first_name}} {{reference.last_name}} headshot">
			    		{% endif %}
				    </a>
			    {% endif %}
			{% endfor %}
		</section>
		<h3 class="section-subheading">Vendors</h3>
		<section class="cards">
			{% for reference in references %}
				{% if 'Vendor' in reference.get_relationship_display %}
				    <a class="card card--small" href="{% url 'reference_detail' slug=reference.slug %}">
				        <h3 class="card-title card-title--grow">{{ reference.first_name }} {{ reference.last_name }}</h3>
				    	{% if reference.image %}
				    		<img class="card-image card-image--circle" src="../../media/{{ reference.image }}" alt="{{reference.first_name}} {{reference.last_name}} headshot">
			    		{% endif %}
				    </a>
			    {% endif %}
			{% endfor %}
		</section>
		<h3 class="section-subheading">All</h3>
		<section class="cards">
			{% for reference in references %}
			    <a class="card card--small" href="{% url 'reference_detail' slug=reference.slug %}">
			        <h3 class="card-title card-title--grow">{{ reference.first_name }} {{ reference.last_name }}</h3>
			    	{% if reference.image %}
			    		<img class="card-image card-image--circle" src="../../media/{{ reference.image }}" alt="{{reference.first_name}} {{reference.last_name}} headshot">
		    		{% endif %}
			    </a>
			{% endfor %}
		</section>
	</section>
{% endblock %}