{% load articles_filters %}
{% load educations_filters %}
{% load projects_filters %}
{% load references_filters %}
{% load static %}

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mike Bozee // Full-stack Development</title>
		<link rel="icon" type="image/png" href="media/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
		<link href="{% static 'lightbox2/css/lightbox.css' %}" rel="stylesheet type="text/css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	</head>
	<body>
		<header class="header">
			<div class="header-inner">
				<div class="header-bottom">
					<a class="home-link"href="{% url 'index' %}">
						<h1>Mike Bozee</h1>
					</a>
				</div>
				<span class="header-tagline">Full-stack Development // Python, JavaScript, UI Design</span>

				<a class="social-icon" href="https://www.linkedin.com/in/mikebozee/" target="_blank" aria-label="View Mike's LinkedIn">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
						<g id="Outline_Icons">
							<g>
								
								<circle fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="12" cy="12" r="11.5"/>
								<path fill="none" stroke="#ffffff" stroke-linejoin="round" stroke-miterlimit="10" d="M15,12.5c-0.276,0-0.5,0.223-0.5,0.5v3.5
									h-3c0,0,0.031-6.478,0-7h3v0.835c0,0,0.457-0.753,1.707-0.753c1.55,0,2.293,1.12,2.293,3.296V16.5h-3V13
									C15.5,12.723,15.275,12.5,15,12.5z"/>
								<rect x="7.5" y="9.5" fill="none" stroke="#ffffff" stroke-linejoin="round" stroke-miterlimit="10" width="2" height="7"/>
								<circle fill="none" stroke="#ffffff" stroke-linejoin="round" stroke-miterlimit="10" cx="8.5" cy="6.5" r="1"/>
							</g>
						</g>
						<g id="Frames-24px">
							<rect fill="none" width="24" height="24"/>
						</g>
					</svg>
				</a>

				<a class="social-icon" href="https://github.com/mikebozee" target="_blank" aria-label="View Mike's GitHub">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
						<g id="Outline_Icons">
							<g>
							
								<circle fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="12" cy="12" r="11.5"/>
								<path fill="none" stroke="#ffffff" stroke-linejoin="round" stroke-miterlimit="10" d="M12.004,4.48c-4.418,0-8,3.581-8,8
									c0,3.534,2.291,6.533,5.471,7.592c0.4,0.071,0.527-0.164,0.527-0.376c0-0.19,0.004-0.722,0-1.39
									c-2.226,0.483-2.687-1.053-2.687-1.053c-0.364-0.924-0.888-1.172-0.888-1.172c-0.727-0.496,0.055-0.486,0.055-0.486
									c0.803,0.057,1.226,0.824,1.226,0.824c0.714,1.223,1.872,0.869,2.327,0.666c0.073-0.518,0.28-0.869,0.509-1.07
									C8.768,15.814,6.9,15.127,6.9,12.062c0-0.874,0.312-1.587,0.822-2.147C7.641,9.715,7.365,8.899,7.802,7.799
									c0,0,0.672-0.217,2.2,0.82c0.638-0.177,1.322-0.268,2.002-0.27c0.68,0.002,1.364,0.093,2.004,0.27
									c1.527-1.036,2.198-0.82,2.198-0.82c0.437,1.101,0.161,1.916,0.079,2.115c0.512,0.561,0.822,1.273,0.822,2.147
									c0,3.073-1.87,3.75-3.652,3.948c0.287,0.247,0.547,0.727,0.547,1.473c0,1,0,1.952,0,2.217c0,0.213,0.13,0.449,0.535,0.371
									c3.178-1.06,5.467-4.056,5.467-7.59C20.004,8.062,16.422,4.48,12.004,4.48z"/>
							</g>
						</g>
						<g id="Frames-24px">
							<rect fill="none" width="24" height="24"/>
						</g>
					</svg>
				</a>

				<a class="social-icon" href="mailto:mike@mikebozee.com" aria-label="Send Mike an email">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
						<g id="Outline_Icons">
							<g>
								
								<circle fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="12" cy="12" r="11.5"/>
								<g>
									<polygon fill="none" stroke="#ffffff" stroke-linejoin="round" stroke-miterlimit="10" points="18.5,8.196 12,11.586 5.5,8.196 
										5.5,6.5 18.5,6.5 			"/>
									<polygon fill="none" stroke="#ffffff" stroke-linejoin="round" stroke-miterlimit="10" points="5.5,10.456 12,13.847 
										18.5,10.456 18.5,17.5 5.5,17.5 			"/>
									
										<line fill="none" stroke="#ffffff" stroke-linejoin="round" stroke-miterlimit="10" x1="13.669" y1="12.954" x2="18.5" y2="15.827"/>
									
										<line fill="none" stroke="#ffffff" stroke-linejoin="round" stroke-miterlimit="10" x1="10.331" y1="12.954" x2="5.5" y2="15.827"/>
								</g>
							</g>
						</g>
						<g id="Frames-24px">
							<rect fill="none" width="24" height="24"/>
						</g>
					</svg>
				</a>

			</div>
			<div id="headshot">
				<img src="../../media/mike-bozee-headshot.jpg" alt="Mike Bozee headshot">
			</div>
		</header>

		<main id="main">

			{% block content %}

				{% block intro %}
					<section id="intro">
						<p class="intro-big"><span class="emoji">👋</span> recruiters &amp; hiring managers</p>
						<p class="intro-small">Time for the next challenge. Seattle positions I'm seeking:<span id="job-title-rotate"></span></p>
						<p class="skills-summary"><span class="skills-summar-header">Skills I bring:</span>Python, JavaScript, Django, Backbone.js, Vue.js, Flask, jQuery, CSS, LESS, Sass, HTML5, UI, AWS, Heroku, Git, Linux, Vagrant, VirtualBox, accessibility, project management</p>
					</section>
				{% endblock %}

				<!-- <ul id="jump-nav">
					<li data-section="positions" onclick="moveSectionToTop(this)">Experience</li>
					<li data-section="stages" onclick="moveSectionToTop(this)">Career stage goals</li>
					<li data-section="projects" onclick="moveSectionToTop(this)">Projects</li>
					<li data-section="references" onclick="moveSectionToTop(this)">References</li>
					<li data-section="articles" onclick="moveSectionToTop(this)">Articles</li>
					<li data-section="educations" onclick="moveSectionToTop(this)">Education</li>
				</ul> -->

				<section id="sections" class="sections--full">

					{% block position_list %}
						<section class="section" id="positions">

							<h2 class="section-heading">Experience</h2>

							<section class="cards">
								{% for position in positions %}
								    <a class="card" href="{% url 'position_detail' slug=position.slug %}">
								    	<div class="card-left">
									        <h3 class="card-title">{{ position.title }}</h3>
									        <span class="position-company">{{ position.company }}</span>
									        <span class="card-dates">
									        	{{ position.start_date|date:"M Y" }} &ndash;
									        	{% if position.end_date %}
									        		{{ position.end_date|date:"M Y" }}
								        		{% else %}
								        			Present
								        		{% endif %}
								        		// {{ position.location }}
									        </span>
									    	{% if position.logo %}
									    		<img class="card-logo" src="../../media/{{ position.logo }}" alt="{{position.company}} logo">
								    		{% endif %}
								    	</div>
								    </a>
								{% endfor %}
							</section>
						</section>
					{% endblock %}

					{% block stage_list %}
						<section class="section" id="stages">

							<h2 class="section-heading">Career Stage Goals</h2>

							<section class="cards">
								{% for stage in stages %}
								    <a class="card" href="{% url 'stage_detail' slug=stage.slug %}">
								        <h3 class="card-title">{{ stage.title }}</h3>
								        <h3 class="position-company">{{ stage.location }}</h3>
								        <span class="card-dates">
								        	{{ stage.start_date|date:"M Y" }} &mdash;
								        	{% if stage.end_date %}
								        		{{ stage.end_date|date:"M Y" }}
							        		{% else %}
							        			Present
							        		{% endif %}
								        </span>
								    </a>
								{% endfor %}
							</section>
						</section>
					{% endblock %}

					{% block project_list %}
						<section class="section" id="projects">

							<h2 class="section-heading">Top Projects</h2>

							<section class="cards">
								{% for project in projects|sort_projects:'priority'|slice:':3' %}
								    <a class="card card--medium card--no-padding" href="{% url 'project_detail' slug=project.slug %}">
								    	<h3 class="card-title card-title--grow">{{ project.title }}</h3>
								    	{% if project.image %}
								    		<img class="card-image" src="../../media/{{ project.image }}">
							    		{% endif %}
								    </a>
								{% endfor %}
							</section>

							<h2 class="section-heading">All Projects</h2>

							<section class="cards cards--minor">
								{% for project in projects|sort_projects:'priority'|slice:'3:' %}
								    <a class="card card--medium card--no-padding card--minor" href="{% url 'project_detail' slug=project.slug %}">
								    	<h3 class="card-title card-title--grow">{{ project.title }}</h3>
								    	{% if project.image %}
								    		<img class="card-image" src="../../media/{{ project.image }}">
							    		{% endif %}
								    </a>
								{% endfor %}
							</section>

						</section>
					{% endblock %}

					{% block reference_list %}
						<section class="section" id="references">

							<h2 class="section-heading">References</h2>

							<!-- <div class="filter-btn-grp">
								<button class="filter-btn" data-filter="*">All</button>
								<button class="filter-btn" data-filter=".direct-supervisor"><div class="dot dot-direct-supervisor"></div> Direct supervisors</button>
								<button class="filter-btn" data-filter=".instructor"><div class="dot dot-insturctor"></div> Instructors</button>
								<button class="filter-btn" data-filter=".coworker"><div class="dot dot-coworker"></div> Coworkers</button>
								<button class="filter-btn" data-filter=".mentor"><div class="dot dot-mentor"></div> Mentors</button>
								<button class="filter-btn" data-filter=".client"><div class="dot dot-client"></div> Clients</button>
								<button class="filter-btn" data-filter=".vendor"><div class="dot dot-vendor"></div> Vendors</button>
							</div> -->

							<section class="cards references-cards" data-isotope='{ "itemSelector": ".card", "layoutMode": "fitRows" }'>
								{% for reference in references %}
								    <a class="card card--small card--no-padding {{ reference.relationship|slugify_relationships }}" href="{% url 'reference_detail' slug=reference.slug %}">
								    	{% if reference.image %}
								    		<img class="card-image card-image--circle" src="../../media/{{ reference.image }}" alt="{{reference.first_name}} {{reference.last_name}} headshot">
							    		{% endif %}
							    		<h3 class="card-title card-title--grow">
								        	<span class="first-name">{{ reference.first_name }}</span>
								        	<span class="last-name">{{ reference.last_name }}</span>
							        	</h3>
							    		<!-- <div class="dots">
								    		{% for relationship in reference.relationship %}
								    			<div class="dot dot-{{ relationship|slugify }}"></div>
								    		{% endfor %}
								    	</div> -->
								    </a>
								{% endfor %}
							</section>

						</section>
					{% endblock %}

					{% block article_list %}
						<section class="section" id="articles">

							<h2 class="section-heading">Top Articles</h2>

							<section class="cards">
								{% for article in articles|sort_articles:'priority' %}
									<a class="card card--medium card--no-padding" href="{% url 'article_detail' slug=article.slug %}">
										<h3 class="card-title card-title--grow">{{ article.title }}</h3>
								        <!-- <span class="published-date">{{ article.published_date|date:"M j, Y" }}</span> -->
								    	{% if article.image %}
								    		<img class="card-image" src="../../media/{{ article.image }}" alt="{{article.title}}">
							    		{% endif %}
								    </a>
								{% endfor %}
							</section>
							<!-- <a class="view-all" href="{% url 'article_list' %}">View all</a> -->
						</section>
					{% endblock %}

					{% block education_list %}
						<section class="section" id="educations">

							<h2 class="section-heading">Education</h2>

							<section class="cards">
								{% for education in educations|sort_educations:'priority' %}
								    <a class="card" href="{% url 'education_detail' slug=education.slug %}">
								    	<div class="card-left">
									        <h3 class="card-title">{{ education.title }}</h3>
									        <span class="position-company">{{ education.institution }}</span>
									        <span class="card-dates">
									        	{{ education.date|date:"M Y" }}
								        		// {{ education.location }}
									        </span>
									    	{% if education.logo %}
									    		<img class="card-logo" src="../../media/{{ education.logo }}" alt="{{education.institution}} logo">
								    		{% endif %}
								    	</div>
								    </a>
								{% endfor %}
							</section>
					{% endblock %}

				</section>

			{% endblock %}

		</main>

		<!-- SCRIPTS -->
		<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'js/vendor/imagesloaded.pkgd.min.js' %}"></script>
		<script src="{% static 'js/vendor/isotope-3.0.6.pkgd.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'lightbox2/js/lightbox.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
		<!-- /SCRIPTS -->

	</body>
</html>