{% extends 'projects/base.html' %}

{% block project_list %}
	<section class="section" id="projects">
		<div class="section-heading">
			<h2>Projects</h2>
		</div>
		<section class="cards">
			{% for project in projects %}
			    <a class="card" href="{% url 'project_detail' slug=project.slug %}">
			        <h3 class="card-title card-title--grow">{{ project.title }}</h3>
			    	{% if project.image %}
			    		<img class="card-image" src="../../media/{{ project.image }}">
		    		{% endif %}
			    </a>
			{% endfor %}
		</section>
	</section>
{% endblock %}